@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer base {
    :root {
      --background: 45 30% 0%;
      --foreground: 45 33% 97%;
      --muted: 15 12% 5%;
      --muted-foreground: 15 12% 63%;
      --popover: 0 0% 1%;
      --popover-foreground: 45 33% 98%;
      --card: 0 0% 1%;
      --card-foreground: 45 33% 98%;
      --border: 45 8% 13%;
      --input: 45 8% 13%;
      --primary: 45 95% 71%;
      --primary-foreground: 45 95% 11%;
      --secondary: 15 95% 71%;
      --secondary-foreground: 15 95% 11%;
      --accent: 75 95% 71%;
      --accent-foreground: 75 95% 11%;
      --destructive: 6 97% 47%;
      --destructive-foreground: 0 0% 100%;
      --ring: 45 95% 71%;
      --radius: 0.5rem;
    }

  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }